<section class="modal--window-content-section centered">
  <strong>Der Artikel liegt nun in deiner Tasche</strong>
  <a href="#" class="button primary full-width close">Weitershoppen</a>
</section>
<section class="modal--window-content-action">
  <h2 class="headline-h3">Dazu passt</h2>
</section>
