<% if(collection.models.length > 0) { %>
  <section class="cart modal--window-content-section">
    <% for(var i=0; i<collection.models.length; i++) { %>
      <div class="cart--entry">
        <div class="cart--entry-info">
          <h3 class="cart--entry-name"><%= collection.models[i].attributes.name %></h3>
        </div>
        <div class="cart--entry-price">
          <%= collection.models[i].attributes.total %>
          <span class="cart--entry-price-currency smaller">€</span>
          <div class="cart--entry-delete" data-sku="<%= collection.models[i].attributes.sku %>">
            ×
          </div>
        </div>
      </div>
    <% } %>
  </section>
  <section class="cart--total modal--window-content-section">
    <span class="cart--entry-total-label">Summe:</span>
    <%= Math.round(collection.getTotal() * 100) / 100 %>€
  </section>
  <div class="cart--actions">
    <a href="#" class="button primary full-width">Zur Kasse</a>
    <a href="#" class="button inverse full-width close">Weiter Einkaufen</a>
</div>
<% } else { %>
  <div class="cart cart--empty modal--window-content-section">
    <h2>Deine Tasche ist leer</h2>
    <a href="#" class="button close primary full-width">Einkaufen</a>
  </div>
<% } %>
