<div id="checkout--thanks" class="centered">
  <h2 class="headline-h2">Vielen Dank</h2>
  <p class="label">Wir haben deine Bezahlung erhalten und stellen deine Artikel für dich zusammen.</p>
</div>

<section class="modal--window-content-section centered">
  <div id="checkout--shipping">
    <h2 class="headline-h4">Wie möchtest du deine Ware erhalten?</h2>
    <ul id="checkout--shipping-list">
      <li class="checkout--shipping-list-item close" id="checkout--pickup">
        Am Ausgang abholen
      </li>
      <li class="checkout--shipping-list-item close" id="checkout--bringly">
        Per bringly versenden
      </li>
    </ul>
  </div>
</section>
