<div id="rootView">
  <h1 class="headline-h1">Scan something</h1>
  <p class="larger">Halte Dein Handy über einen der roten Punkte im Laden um mehr Informationen zum Produkt zu erhalten.</p>

  <div id="interactionPlaceholder">
  </div>

</div>
