<div id="rootView">
  <h1 class="headline-h1">Scannen</h1>
  <p>Halte Dein Handy über einen der roten Punkte im Laden um mit den Produkten zu interagieren.</p>
</div>

<div class="interaction-indicator">
  <div class="interaction-indicator--circle">

  </div>
</div>
