<section class="modal--window-content-section centered" id="showOnScreenModal">
  <div class="interaction-indicator small">
    <div class="interaction-indicator--circle outgoing">
    </div>
  </div>
  <strong>Weitere Produktinformationen erhalten</strong>
  <p>Halte das Smartphone an einen Kreis mit roter Kontur am Bildschirm, um dort weitere Informationen zu diesem Produkt zu erhalten</p>
  <a href="#" class="button close full-width">Alles klar</a>
</section>
