.article--carousel
  position: fixed
  width: 100%
  +clearfix
  margin-bottom: .5em

.article--carousel-item-wrapper
  width: 200%
  +transition(margin .3s ease-in-out)
  &.toggled
    margin-left: -100%

.article--carousel-item
  width: 50%
  float: left
  +opacity(0)
  +transition(opacity .3s ease-in-out)
  &.loaded
    +opacity(1)

.article--content
  position: absolute
  top: 470px
  padding: 1.2em 0 0
  background: white
  +box-shadow(0 -2px 5px transparentize(black, .9))

.article--intro
  padding: 0 1em
  margin-bottom: 2em
  text-align: center
  p
    font-size: 1.25em
    line-height: 1.6

.article--box
  background: $white-grey

.article--actions
  padding: 1.5em 1em
  border-bottom: 1px solid $light-grey
  margin: 2em 0 0
  line-height: 1

.article--price
  float: left
  padding-top: .2em
  +heading-serif-font
  font-size: 1.8em
  font-weight: 600

.article--size
  float: right
  text-align: right
  +heading-serif-font

.article--buttons
  clear: both
  margin-top: 3em
  .button
    padding: .8em
    margin: 0 0 .5em

.article--details
  padding: 0 1em
  margin: 3em 0 0
  text-align: center
  line-height: 1.7
  p
    font-size: 1.1em

.article--related
  margin: 3em 0 0
  padding: 1.5em 1em
