.article--carousel
  position: fixed
  width: 100%
  +clearfix
  margin-bottom: .5em

.article--carousel-item-wrapper
  width: 200%
  +transition(margin .3s ease-in-out)
  &.toggled
    margin-left: -100%

.article--carousel-item
  width: 50%
  float: left
  +opacity(0)
  +transition(opacity .3s ease-in-out)
  &.loaded
    +opacity(1)

.article--content
  position: absolute
  top: 470px
  padding: 1.2em 0 0
  background: white
  +box-shadow(0 -2px 5px transparentize(black, .9))

.article--intro
  padding: 0 1em
  margin-bottom: 2em
  text-align: center
  p
    font-size: 1.2em
    line-height: 1.5
    color: tint($font-color, 30%)

.article--actions
  padding: 2em 1em 1.5em
  border:
    top: 1px solid $light-grey
    bottom: 1px solid $light-grey
  line-height: 1

.article--title
  margin-bottom: .1em

.article--sku
  color: $grey
  font-style: italic

.article--price
  margin: .3em 0 .6em
  +heading-serif-font
  font-size: 1.8em
  font-weight: 600

.article--buttons
  clear: both
  .button
    padding: .8em
    margin: 0 0 .5em

.article--details
  padding: 0 1em
  margin: 3em 0 0
  text-align: center
  line-height: 1.7
  p
    font-size: 1.1em

.article--size-picker-sizes
  list-style: none
  padding: 0
  margin: 1em 0

.article--size-picker-size
  +inline-block
  width: 19%
  padding: 1em
  border: 1px solid transparentize($font-color, .5)
  margin-right: (10% / 4%)
  +heading-serif-font
  +opacity(.6)
  +transition(all .3s ease-in-out)
  &:last-child
    margin-right: 0
  &.active
    background: $black-grey
    color: white
    +opacity(1)

.article--related
  background: $white-grey
  margin: 3em 0 0
  padding: 1.5em 1em
