body
  margin: 0
  padding: 0

#app-header
  background: $header-color
  color: white
  padding: 2.5em 1.2em 1.2em

#rootView
  text-align: center
  margin-top: 200px

.article--image
  position: fixed
  width: 100%
  margin-bottom: .5em

.article--content
  position: absolute
  top: 400px
  padding: 1.2em
  background: white
  +box-shadow(0 -2px 5px transparentize(black, .9))
