.button
  display: inline-block
  +border-radius(.4em)
  padding: .4em 1em
  margin: 1em 0
  border: 1px solid $font-color
  color: $font-color
  text-decoration: none
  &.primary
    background: $font-color
    color: white
