@font-face {
  font-family: 'Telefon';
  src: url('fonts/Telefon-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Telefon';
  src: url('fonts/Telefon-Normal.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

